* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(229, 244, 95);
  text-align: center;
}

.course-card {
  background-color: white;
  padding: 30px;
  border: 2px solid black;
  margin: 40px;
  text-align: center;
}

h1 {
  color: rgb(255, 59, 59);
  font-size: 32 px;
  font-weight: bold;
}
p {
  font-size: 18px;
  color: rgb(152, 62, 62);
}

.course-info {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 17px;
}

#register-button {
  background-color: rgb(245, 52, 52);
  color: white;
  font-size: 18px;
  padding: 12px;
  border: 2px solid black;
  margin: 15px;
}

.mini-card {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
}

h2 {
  color: darkblue;
  font-size: 24px;
}
